.container{
    display: flex;
    justify-content: space-between;
    margin: 160px auto;
    max-width: 1260px;
    position: relative;
}

.container-flipped{
    flex-direction: row-reverse;
}

.content-container{
    max-width: 445px;
    margin: 0 24px;
}

.content-header{
    font-weight: bold;
    font-size: 48px;
}

.content{
    font-family: var(--font-sans);
    max-width: 445px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.image-container{
    position: relative;
}

.image{
    border-radius: 50%;
}

.circle{
    position: absolute;
    top: 0;
    transform: translateX(530px);
}

.circle-flipped{
    transform: translateX(-530px);
}

.arrow{
    position: absolute;
    top: 300px;
}

.arrow-flipped{
    transform: scaleX(-1);
    right: 250px;
}

.short-arrow{
    left: -15px;
}

.short-arrow.arrow-flipped{
    transform: scaleX(-1);
    left: unset ;
    right: -15px;
}

.arrow-top{
    top: 40px;
}

@media(max-width: 800px){
    .container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 55px;
        text-align: center;
    }

    .card-btn{
       display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}


@media(max-width: 530px){

    .image-container{
        max-width: 311px;
        max-height: 311px;
    }

    .image{
        max-width: 311px;
        max-height: 311px;
    }

    .content-header{
        font-size: 33px;
    }

    .arrow{
        top: 150px;
    }

    .arrow-top{
        top: 0;
    }

    .short-arrow{
        left: -75px;
    }

    .short-arrow.arrow-flipped{
        right: 75px;
    }
}