.hero-container {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 200px;
  position: relative;
}

.content-container {
  color: white;
  padding-top: 72px;
  max-width: 1260px;
  margin: 0 auto;
  align-items: center;
}

.hero-content {
  display: inline;
  font-size: 56px;
}

.circles {
  position: absolute;
  right: -50px;
}

@media (max-width: 768px) {
  .hero-container {
    height: 160px;
  }

  .content-container {
    padding-top: 32px;
    padding-left: 32px;
    margin: 0 auto;
    text-align: center;
  }

  .circles {
    display: none;
  }
}
