.hero-container{
    background-image: url('/assets/images/home-hero-desktop.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 650px;
}

.hero-content{
    color: white;
    font-weight: bold;
    font-size: 56px;
    max-width: 520px;
}

.hero-subheading{
    color: white;
    font-family: var(--font-sans);
    width: 505px;
    padding-left: 100px;
    padding-top: 30px;
}

.hero-btn{
    padding-left: 100px;
    padding-top: 30px;
}

.content-container{
    padding-top: 153px;
    padding-left: 165px;
    position: relative;
}

.subheading-container{
    position: relative;
}

.line{
    position: absolute;
    top: 384px;
    left: 0;
}

.arrow{
    position: absolute;
    left: 705px;
    top: 384px;
}

.circles{
    position: absolute;
    top: 443px;
    left: 1200px;
}
@media (max-width: 1000px){
    .content-container{
        padding-left: 0;
        margin: 0 auto;
        padding-top: 130px;
    }

    .hero-content{
        margin: 0 auto;
        text-align: center;
    }
    .hero-subheading{
        padding-left: 0;
        margin: 0 auto;
        text-align: center;
    }

    .hero-btn .btn{
        margin: 0 auto;
    }

    .hero-btn{
        padding-left: 0;
    }


    .line{
        display: none;
    }

    .arrow{
        left: 0;
        top: 493px;
        max-width: 330px;
    }

    .circles{
        left: 560px;
        top: 553px;
    }
}

@media (max-width: 530px) {

    .content-container{
        padding-top: 70px;
    }
    .hero-content {
        font-size: 40px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .hero-subheading {
        width: fit-content;
        padding-left: 25px;
        padding-right: 25px;
    }

    .circles {
        display: none;
    }

    .arrow{
        transform: translateX(-205px);
    }
}