.btn {
  background-color: var(--yellow);
  color: white;
  font-family: var(--font-mono);
  height: 53px;
  padding: 14px 39px;
  position: relative;
  text-align: center;
  width: 190px;
}

.btn:hover {
  background-color: white;
  border: 1px solid var(--yellow);
  color: var(--yellow);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
